.container {
    --border-radius: 0.5rem;
    --trigger-offset: calc(100% + 0.25rem);

    position: relative;
}

.label {
    position: absolute;
    bottom: var(--trigger-offset);
    margin: 0;
    font-size: 0.875rem;
}

.select {
    position: relative;
}

.trigger {
    min-width: 200px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
        svg {
            path {
                fill: var(--color-gray);
            }
        }
    }
}

.dropdown {
    position: absolute;
    top: var(--trigger-offset);
    width: 100%;
    padding: 0.25rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    list-style: none;
    overflow: hidden;
    background-color: #1a1a1a;
    border-radius: var(--border-radius);

    .option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.025);
        }

        &:focus-visible {
            border: none;
            outline: 0.125rem solid var(--color-primary);
        }

        .icon {
            svg {
                g {
                    stroke: var(--color-gray);
                }
            }
        }
    }
}

.icon {
    font-size: 0;
}